<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Flask</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" >
</head>

<body>
	<section>
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<h1 class="fw-bold">Test Flask by Hasan Ahani</h1>

					<p>name: {{ name }}</p>
					<p>email: {{ email }}</p>
					<p>username: {{ username }}</p>
	
					<a href="/logout" class="">logout</a>
				</div>
			</div>
		</div>
	</section>

</body>
</html>